@media screen and (max-width:1000px) {
    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }
}
@media (max-width: 1000px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    position: relative;
    z-index: 1001;
    background-color: white;
  }
  .logo{
    color: white;
  }
}
/* Mobile Responsive Toggle */

@media (max-width: 1000px) {
  .container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 1.5rem 20px;
    gap: 1rem;
  }

  .skill-box {
    min-width: 250px;
    flex: 0 0 auto;
    scroll-snap-align: center;
  }
}
@media (max-width: 600px) {
 
  .project-title {
    font-size: 1.2rem;
  }

  .project-description {
    font-size: 0.95rem;
  }

  .project-btn {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
/* Tablet */
@media (max-width: 992px) {
  #Skills .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  #Skills .container {
    grid-template-columns: 1fr;
  }
}
